body {
  background-color: #272b31;
}
.container {
  width: 100%;
  height: 80vh;
  display: inline-flex;
}

.text {
  margin: 0.5rem;
  padding: 0.1rem;
  width: 100%;
  border-radius: 2px;
  height: 15rem;
  height: 80%;
}

iframe {
  margin: 0.5rem;
  padding: 0.2rem;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  height: 80%;
}
h1 {
  text-align: center;
  color: #cfec2a;
}
